@model Library.Domain.Dto.Editorial.EditorialDto;

<h1>Lista de Editoriales</h1>

<table id="editorialsTable" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Sede</th>
        </tr>
    </thead>
    <tbody id="bodyEditorial">
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
           // $('#editorialsTable').DataTable();
           console.log('vista editorial');
        });
    </script>
}
